@media (max-width: 768px){
    .left-section {
        position: fixed;
        top: 9%;
        left: 0;
        width: 89%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .left-section h3 {
        color: white;
        padding: 20px;
    }
    .left-section a {
        display: block;
        padding: 20px;
    }
    button#hamburger-button{
        display: block;
    }
}

@media (min-width: 768px){
    body{
        max-width: 700px;
        margin: auto;
    }
    aside{
        border: 3px #7F7F7F dotted;
    }

    section{
        margin-top: 50px;
    }
    div.img-block{
        width: 700px;
    }
    div.info-block{
        max-width: 700px;
        border-bottom: dotted 2px gray;
    }
    div.exp-block{
        margin: 5px;
        border: 2px solid gray;
        padding: 4px;
    }
    ul{
        max-width: 700px;
        font-size: 16px;
    }
    footer{
        max-width: 700px;
        margin: 5px;
        padding: 8px;
        font-size: 14px;
    }
    h1{
        font-size: 32px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 20px;
    }
    p.category{
        font-size: 18px;
    }
    p.info{
        font-size: 18px;
    }
}
@media (min-width: 1024px){
    body{
        max-width: 900px;
        margin: auto;
    }
    .left-section {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 120px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
    }
    .left-section h3 {
        display: block;
        color: white;
        padding: 2px;
    }
    div.menu-container{
        text-align: center;
        margin-top: 10px;
    }
    .left-section .top-menu {
        display: inline-block;
        margin-right: 10px;
        width: 20%;
        text-align-last: center;
        border: dotted 1px yellow;
        padding: 10px;
        text-decoration: none;
    }
    div.haburger{
        display: none;
    }
    h1.hamburger{
        display: none;
    }
    button#hamburger-button{
        display: none;
    }
    header{
        margin-top: 130px;
    }

    aside{
        border: 3px #7F7F7F dotted;
    }
    section{
        margin-top: 50px;
    }
    div.img-block{
        width: 100%;
        text-align: center;
        align-items: center;
        align-self: center;
        align-content: center;
    }
    img.logo{
        margin: auto;
        text-align: center;
        align-self: center;
        align-items: center;
    }
    div.info-block{
        max-width: 100%;
        border-bottom: dotted 2px gray;
    }
    div.exp-block{
        margin: 5px;
        border: 2px solid gray;
        padding: 4px;
    }
    form.form{
        width: 100%;
        margin: auto;
        margin-bottom: 50px;
    }
    ul{
        max-width: 100%;
        font-size: 16px;
    }
    footer{
        max-width: 100%;
        margin: 5px;
        padding: 8px;
        font-size: 14px;
    }
    h1{
        font-size: 32px;
    }
    h3{
        font-size: 24px;
    }
    h4{
        font-size: 20px;
    }
    p.category{
        font-size: 18px;
    }
    p.info{
        font-size: 18px;
    }
    p{
        width: 100%;
    }
}
@media (min-width: 1440px){

}

@media (min-width: 2560px){
    body{
        max-width: 1440px;
    }
    aside{
        width: 400px;
    }
    ul{
        max-width: 100%;
        font-size: 16px;
    }
    footer{
        max-width: 100%;
        margin: 5px;
        padding: 8px;
        font-size: 14px;
    }
    h1{
        font-size: 48px;
    }
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 32px;
    }
    h5{
        font-size: 24px;
    }
    p.category{
        font-size: 22px;
    }
    p.info{
        font-size: 22px;
    }
    p.big-box{
        font-size: 22px;
    }
    p{
        width: 100%;
        font-size: 22px;
    }
    a{
        font-size: 22px;
    }
    a#top-menu{
        font-size: 20px;
    }
    li{
        font-size: 24px;
    }
    label{
        font-size: 20px;
    }
    input{
        font-size: 20px;
    }
    button{
        font-size: 20px;
    }
    span.req{
        font-size: 20px;
    }
}